<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<div align="center">
    <h2>People</h2>
    <h3><a href="/new">New user</a></h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Role</th>
        </tr>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <a th:href="@{/edit(id=${user.id})}">Edit</a>
                <a th:href="@{/delete(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>